# Ignore Terraform state files, plan files, and directories
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.plan
*.tfvars
*.tfplan

# Ignore build directories and server profiles
build/
server/
lambda_functions/
minecraft_server_profile.zip

# Allow for the example tfvars file
!example.tfvars

# Ignore TS dist and node modules
src/lambda/**/dist/
src/lambda/**/node_modules/

# Ignore a users backup files
backup/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore SSH keys
ssh/

# Ignore venv
.venv/

# Ignore infracost files
terraform/.infracost/