[Unit]
Description=AWSCraft Minecraft server bootstrap service
Wants=network-online.target

[Service]
Type=simple
User=minecraft
Group=minecraft
WorkingDirectory=/opt/minecraft
ExecStart=/bin/bash /opt/minecraft/scripts/start-server.sh

[Install]
WantedBy=multi-user.target