[Unit]
Description=Runs the minecraft server start script.
After=network.target
Wants=network-online.target

[Service]
Restart=on-failure
Type=simple
ExecStart=/bin/bash /opt/stop-server.sh

[Install]
WantedBy=multi-user.target 